* {
    margin: 0;
    padding: 0;
}

#f__view {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container {
    position: relative;
    animation: grow-shrink 3s infinite;
    width: 200px;
}
.jumping-image {
    width: 100%;
    height: auto;
    border-radius: 80px;
    /* border: solid 1px #000; */
}
.image-text {
    position: absolute;
    top: 45.5%;
    left: 44.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 1.2rem;
    font-weight: bold;
}

.hero {
    max-width: 100vw;
}


@keyframes grow-shrink {
    0%, 100% {
        transform: scale(.9);
    }
    50% {
        transform: scale(1);
    }
}

@media screen and (min-width: 500px) {
    .image-container {
       cursor: pointer;
    }
}