* {
    margin: 0;
    padding: 0;
}

:root {
    --libre-bodoni: "Libre Bodoni", serif;
    --great-vibes: "Great Vibes", serif;
    --playwrite-ro: "Playwrite RO", serif;
}

aside {
    display: flex;
    justify-content: center;
}
.heading {
    font-family: var(--great-vibes);
    font-size: 3rem;
    font-weight: normal;
    padding-top: 1.5rem;
    position: absolute;
}
.names-heading,
.subheading {
    font-family: var(--great-vibes);
    font-size: 3rem;
    font-weight: normal;
}

main {
    max-width: 100vw;
    text-align: center;
}

img {
    width: 100%;
}

iframe {
    width: 90vw;
    height: 50vh;
    border: none;
    border-radius: 1rem;
}